	<h2>
		<span class="text-center" id="title">Popular Recipes</span>
	</h2>
	<div class="row">
		<div class="col-sm-4 home_recipe" id="recipe_1">
			<h3 id='recipe1_title' class="recipe_title">
				Some Awesome Recipe
			</h3>
			<img id='recipe1_image' src="http://placekitten.com/175/150" class="recipe_image" />
			<p id="recipe1_sdesc" class="recipe_desc">
				Alcatra pastrami cupim, shank pancetta venison beef ribeye. Ham flank jowl cupim, bresaola fatback landjaeger short
				ribs kielbasa tenderloin beef ribs tri-tip brisket. Pork loin corned beef rump frankfurter.
			</p>
			<a id="recipe1_url" href="#" class="recipe_url">

			</a>
		</div>
		<div class="col-sm-4 home_recipe" id="recipe_1">
			<h3 id='recipe1_title' class="recipe_title">
				Some Awesome Recipe
			</h3>
			<img id='recipe1_image' src="http://placekitten.com/175/150" class="recipe_image" />
			<p id="recipe1_sdesc" class="recipe_desc">
				Alcatra pastrami cupim, shank pancetta venison beef ribeye. Ham flank jowl cupim, bresaola fatback landjaeger short
				ribs kielbasa tenderloin beef ribs tri-tip brisket. Pork loin corned beef rump frankfurter.
			</p>
			<a id="recipe1_url" href="#" class="recipe_url">

			</a>
		</div>
		<div class="col-sm-4 home_recipe" id="recipe_1">
			<h3 id='recipe1_title' class="recipe_title">
				Some Awesome Recipe
			</h3>
			<img id='recipe1_image' src="http://placekitten.com/175/150" class="recipe_image" />
			<p id="recipe1_sdesc" class="recipe_desc">
				Alcatra pastrami cupim, shank pancetta venison beef ribeye. Ham flank jowl cupim, bresaola fatback landjaeger short
				ribs kielbasa tenderloin beef ribs tri-tip brisket. Pork loin corned beef rump frankfurter.
			</p>
			<a id="recipe1_url" href="#" class="recipe_url">

			</a>
		</div>
	</div>
