//base styles for the app
//import google fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');
$brand: #f7921e;
$primary-color: $brand;

body {
	margin-top:40px;
	background: #fff !important;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.navbar {
	background-color: darken($brand, 10%);
	color: #fff;
	border-bottom: darken($brand, 20%);
	font-weight: 800;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);


	a {
		color: #fff !important;

		&:hover {
			text-decoration: underline !important;
		}
	}

	.navbar-btn {
		color: white;
		font-weight: 800;

		&:hover {
			text-decoration: underline;
		}
	}
}

.btn{
	border-radius:0px!important;
}
.btn-primary {
	background-color: $brand;
	color:#fff!important;
}