@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div id="fb-root"></div>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div class="col-sm-8">
		<h1>Welcome @UserManager.GetUserName(User)!</h1>
		<h4>Memories (Recipes) Preserved 12</h4>
		<a href="#" class="btn btn-primary">Save a New Recipe</a>
	</div>
	<div class="col-sm-4">

	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Recently Added Recipes</h2>
		<div id="recentRecipes" class="row">
		</div>
	</div>
</div>

<script>
	var settings = {
		"async": true,
		"crossDomain": true,
		"url": "https://localhost:44342/Recipe/MostRecentRecipes",
		"method": "GET",
		"headers": {
			"cache-control": "no-cache",
			"Postman-Token": "a1cf4227-de5c-4350-9403-f1b937fee072"
		}
	}

	$.ajax(settings).done(function (response) {
		console.log(response);
		$(response).each(function (ind, val) {
			$('#recentRecipes').append('<div class="col-sm-4 recipe"><h3>' + val.recipeName + '</h3>' +
				'<div class="jumbotron" style="background-image: url(' + val.imgUrl + ')"></div>' +
				'<div class="row recipe-Details">' +
					'<div class="col-sm-6 pull-left">' + val.cookTime + " Minutes" + "</div>" +
					'<div class="col-sm-6 pull-right">' + val.servings + " People" + "</div>" +
				'</div>' +
				//display recipe desc
				'<h4>Description</h4>' +
				'<p class="recipe-story" data-RecipeId="' + val.recipeId + '">' +
				val.description +
				'</p>' +
				//display view, edit, and share btns
				'<div class="row recipe-footer">' +
					'<div class="col-sm-4 recipe-footer-share">' +
						//edit
						'<a href="/Recipe/Edit/' + val.recipeId + '" target="_blank">' +
						'<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>' +
						'</a>' +
						//view recipe
						'<a href="/View/Recipe/' + val.recipeId + ' " class="">' +
						'<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>' +
						'</a>' +
						'<div class="col-sm-4 recipe-footer-share">' +
						//twitter share code
						'</div>' +
						'<div class="col-sm-4 recipe-footer-share">' +
							'<div class="fb-share-button" data-href="https://shareabiteweb.azurewebsites.net/view/recipe/' + val.recipeId + '"data-layout="button_count">' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>' +
				'</div>' +

				'</div>')

		})
	})

	$(document).ready(function () {

		readMoreDisplay()
	})

	function readMoreDisplay() {
		$('.recipe-story').each(function (ind, val) {
			let storyLength = $(val).html().length;
			let story = $(val).html();
			let RecipeId = $(val).attr('data-recipeid');
			console.log(RecipeId)
			if (storyLength > 200) {
				story = story.split(200);
				$(val).html(story + " <a href='/Recipe/Details/" + RecipeId + "'>Read More...</a>")
			} else {
				$(val).html(story)
			}
		})
	}
</script>

