<p class="login_hero">
	We all have precious memories of holiday gatherings where Aunt Betty would make her famous Chicken Gravy. Now that Aunt Betty has passed away, you can no longer enjoy her Chicken gravy. Until Now...
</p>
<p class="login_hero_item">
	<i class="fa fa-save" aria-hidden="true"></i>
	<strong>Save precious recipes and their memories</strong> not only for you but for the younger generation as well.
</p>
<p class="login_hero_item">
	<i class="fa fa-cutlery" aria-hidden="true"></i>
	<strong>Try new recipes</strong> and make new memories from our growing collection of recipes.
</p>
<p class="login_hero_item">
	<i class="fa fa-users" aria-hidden="true"></i>
	<strong>Share your recipes</strong> with your friends on Facebook, Twitter, Email, and more.
</p>
<p class="">
	<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a>, or <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">register as a new user</a>, today and save all of your recipes and memories in the cloud forever.
</p>