@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div id="fb-root"></div>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<h1>Welcome @UserManager.GetUserName(User)! </h1>

	<div class="col-sm-12">
		<p>We are glad you have decided to join in the effort of preserving your recipes and sharing them with others. We hope you enjoy saving your favorite recipes. Should you encounter any challenges please <a href="#">Reach out to us</a> and we will take care of you.</p>

			<h4><span id="userRecipeCount"></span></h4>

		</div>
	<div class="col-sm-12 ">

	</div>
</div>

<partial name="_HeroSlider" />

<div class="row">
	<div class="col-sm-12">
		<h2>My Recent Recipes</h2>
		<div id="myRecentRecipes" class="row">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Recent Community Recipes</h2>
		<div id="recentCommunityRecipes" class="row">
		</div>
	</div>
</div>

<script>


	var userIdNum = '@UserManager.GetUserId(User)'

	$(document).ready(function () {

		loadCommunityRecipes()
		loadUserRecipes(userIdNum)
		countUserRecipes(userIdNum);

	})

	function loadCommunityRecipes() {
		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "/Recipe/MostRecentRecipes",
			"method": "GET",
			"headers": {
				"cache-control": "no-cache",
			}
		}

		$.ajax(settings).done(function (response) {
			console.log(response);
			$(response).each(function (ind, val) {
				$('#recentCommunityRecipes').append('<div class="col-sm-4 recipe"><h3>' + val.recipeName + '</h3>' +
					'<div class="jumbotron" style="background-image: url(' + val.imgUrl + ')"></div>' +
					'<div class="row recipe-Details">' +
					'<div class="col-sm-6 pull-left">' + val.cookTime + " Minutes" + "</div>" +
					'<div class="col-sm-6 pull-right">' + val.servings + " People" + "</div>" +
					'</div>' +
					//display recipe desc
					'<h4>Description</h4>' +
					'<p class="recipe-story" data-RecipeId="' + val.recipeId + '">' +
					val.description +
					'</p>' +
					//display view, edit, and share btns
					'<div class="row recipe-footer">' +
					'<div class="col-sm-4 row recipe-footer-share">' +
					//edit
					'<a class="col-sm-6" href="/Recipe/Edit/' + val.recipeId + '" target="_blank">' +
					'<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>' +
					'</a>' +
					//view recipe
					'<a class="col-sm-6" href="/View/Recipe/' + val.recipeId + ' " class="">' +
					'<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>' +
					'</a>' +
					'</div>' +
					'<div class="col-sm-4 recipe-footer-share">' +
					//twitter share code
					'</div>' +
					'<div class="col-sm-4 recipe-footer-share">' +
					'<div class="fb-share-button" data-href="https://shareabiteweb.azurewebsites.net/view/recipe/' + val.recipeId + '"data-layout="button_count">' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +

					'</div>')

			})

		})
	}


	function loadUserRecipes(userIdNumber) {
		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "/Recipe/MyMostRecentRecipes?userInfo=" + userIdNumber,
			"method": "GET",
			"headers": {
				"cache-control": "no-cache",
			}
		}

		$.ajax(settings).done(function (response) {
			console.log(response);
			$(response).each(function (ind, val) {
				$('#myRecentRecipes').append('<div class="col-sm-4 recipe"><h3>' + val.recipeName + '</h3>' +
					'<div class="jumbotron" style="background-image: url(' + val.imgUrl + ')"></div>' +
					'<div class="row recipe-Details">' +
					'<div class="col-sm-6 pull-left">' + val.cookTime + " Minutes" + "</div>" +
					'<div class="col-sm-6 pull-right">' + val.servings + " People" + "</div>" +
					'</div>' +
					//display recipe desc
					'<h4>Description</h4>' +
					'<p class="recipe-story" data-RecipeId="' + val.recipeId + '">' +
					val.description +
					'</p>' +
					//display view, edit, and share btns
					'<div class="row recipe-footer">' +
					'<div class="col-sm-4 recipe-footer-share">' +
					//edit
					'<a class="col-sm-6" href="/Recipe/Edit/' + val.recipeId + '" target="_blank">' +
					'<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>' +
					'</a>' +
					//view recipe
					'<a class="col-sm-6" href="/View/Recipe/' + val.recipeId + ' " class="">' +
					'<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>' +
					'</a>' +
					'</div>' +

					'<div class="col-sm-4 recipe-footer-share">' +
					//twitter share code
					'</div>' +
					'<div class="col-sm-4 recipe-footer-share">' +
					'<div class="fb-share-button" data-href="https://shareabiteweb.azurewebsites.net/view/recipe/' + val.recipeId + '"data-layout="button_count">' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +

					'</div>')

			})
			readMoreDisplay()

		})
	}
	function countUserRecipes(userIdNumber) {
		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "/Recipe/CountUserRecipes?userInfo=" + userIdNumber,
			"method": "GET",
			"headers": {
				"cache-control": "no-cache",
			}
		}

		$.ajax(settings).done(function (response) {
			if (response == 1) {
				$('#userRecipeCount').html("I have Preserved " + response + " Memory (Recipe)!")
			} else if (response >= 25) {
				$('#userRecipeCount').html("Holy cow, I have Preserved " + response + " Memories (Recipes)!")
			} else if (response >= 50) {
				$('#userRecipeCount').html("Wow! I have Preserved over 50 Memories (Recipes)!")

			} else {
				$('#userRecipeCount').html("I have Preserved " + response + " Memories (Recipes)!")

			}
		})
	}

	function readMoreDisplay() {
		$('.recipe-story').each(function (ind, val) {
			let storyLength = $(val).html().length;
			let story = $(val).html();
			let RecipeId = $(val).attr('data-recipeid');
			if (storyLength > 200) {
				story = story.split(200);
				$(val).html(story + " <a href='/view/recipe/" + RecipeId + "'>Read More...</a>")
			} else {
				$(val).html(story)
			}
		})
	}
</script>

 