@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
	<partial name="_loggedin" />
}
else
{


	<partial name="_HeroSlider" />

	<div class="row home_content">
		<div class="col-sm-12">
			<h1>Saving Recipe Memories just got Easy</h1>
			<div class="col-sm-8 home_Content_text">
				<h2>The problem</h2>
				<p>
					Saving family recipes has always been a challenge. Massive binders, heavy boxes, and a seemingly endless supply of 3x5 cards with recipes that have been handed down for generations. You work to put them in a shared document in the cloud and publish lovingly crafted books to share with your family.
				</p>
				<p>
					While that effort is amazing and it takes wonderful people to do that type of work. However we can lose all of those recipes in an instant when nature takes it's course.
				</p>

			</div>
			<div class="col-sm-4">
				<img src="~/images/Cooking_frustrated.jpeg" width="100%" />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-4">
				<img src="~/images/cooking_success.jpeg" width="100%" />
			</div>
			<div class="col-sm-8 home_Content_text">
				<h2>The solution</h2>
				<p>
					Instead of going through all that work time and time again. Save each recipe once and have access to it forever. Share a Bite carefully stores each recipe in the cloud and enables you to endlessly share the recipe with all of your family and friends. Say goodbye to reading old moldy notecards with hard-to-read recipes
				</p>
				<a asp-controller="Recipe" asp-action="Create" class="btn btn-primary">Save Your Recipes</a>
			</div>

		</div>
	</div>
	<hr />
	<div class="row home_content">
		<div class="col-sm-12">
			<h2>Recipes Recently Saved</h2>
			<div id="recentCommunityRecipes" class="row">
			</div>
		</div>
	</div>

	<script>


	var userIdNum = '@UserManager.GetUserId(User)'

	$(document).ready(function () {

		loadCommunityRecipes(9)

	})

	function loadCommunityRecipes(count) {
		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "api/Recipe/MostRecentRecipes/"+count,
			"method": "GET",
			"headers": {
				"cache-control": "no-cache",
			}
		}

		$.ajax(settings).done(function (response) {
			console.log(response);
			$(response).each(function (ind, val) {
				$('#recentCommunityRecipes').append('<div class="col-sm-4 recipe"><h3>' + val.recipeName + '</h3>' +
					'<div class="jumbotron" style="background-image: url(' + val.imgUrl + ')"></div>' +
					'<div class="row recipe-Details">' +
					'<div class="col-sm-6 pull-left">' + val.cookTime + " Minutes" + "</div>" +
					'<div class="col-sm-6 pull-right">' + val.servings + " People" + "</div>" +
					'</div>' +
					//display recipe desc
					'<h3>Description</h3>' +
					'<p class="recipe-story" data-RecipeId="' + val.recipeId + '">' +
					val.description +
					'</p>' +
					//display view, edit, and share btns
					'<div class="row recipe-footer">' +
					'<div class="col-sm-4 row recipe-footer-share">' +
					//view recipe
					'<a class="col-sm-6" href="/View/Recipe/' + val.recipeId + ' " class="">' +
					'<span class="fa fa-eye" aria-hidden="true"></span>' +
					'</a>' +
					'</div>' +
					'<div class="col-sm-4 recipe-footer-share">' +
					//twitter share code
					'</div>' +
					'<div class="col-sm-4 recipe-footer-share">' +
					'<div class="fb-share-button" data-href="https://shareabiteweb.azurewebsites.net/view/recipe/' + val.recipeId + '"data-layout="button_count">' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'</div>' +

					'</div>')

			})

		})
	}

	</script>


}

