.navbar {
	height: 50px;
	border-bottom: 1px solid #999;
	background: #fff;
	border-top:5px solid $brand;
}

.navbar {
	.navbar-nav {
		li>a {
			color: $brand !important;
			font-size: 1.1em;
			padding-top:14px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.navbar-brand{
	text-align: center;
	margin:0 auto;
	padding-top: 5px;
	img{
		width:75px;  
	}
} 