@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <partial name="_PopularRecipes" />

    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <partial name="_RecentRecipes" />
    </div>
</div>
