@model CLI.Models.NewRecipe;
@{
    ViewData["Title"] = "Share-A-Bite: Add a New Recipe";
}
<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

<h1>Create a new recipe</h1>
<p>
    Thank you for adding a new memory and recipe to Share A Bite. We will safeguard this recipe and make it available for generations to come. Should you not want to share your recipe with others, make sure you mark the recipe as private.
</p>
<p>
    ~ Happy Eating :)
</p>


<div class="row">
    <div id="formData" class="col-sm-12 ">
        <h2>Section Header</h2>
        <div class="form-group">
            <label asp-for="RecipeName">Recipe Title</label>
            <input asp-for="RecipeName" class="form-control" placeholder="Recipe Title" />
            <span asp-validation-for="RecipeName"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipeStory">Recipe Story</label>
            <textarea asp-for="RecipeStory" class="form-control editor" placeholder="Recipe Ingredients"></textarea>
            <span asp-validation-for="RecipeStory"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipeDescription">Recipe Description</label>
            <textarea asp-for="RecipeDescription" class="form-control editor2" placeholder="Recipe Description"></textarea>
            <span asp-validation-for="RecipeDescription"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <h2>Section Header</h2>
        <div id="ingredientDisplay" class="form-group">
            <label asp-for="RecipeIngredients">Recipe Ingredients</label>
            <input asp-for="RecipeIngredients" class="form-control" placeholder="Recipe Title" />
            <button id='addIngredient' class="btn btn-primary btn-sm pull-right">Add Ingredient</button>
            <span asp-validation-for="RecipeIngredients"></span>
        </div>
        <div id="directionsDisplay" class="form-group">
            <label asp-for="RecipeDirections">Recipe Directions</label>
            <input asp-for="RecipeDirections" class="form-control" placeholder="Recipe Directions" />
            <button id='addDirections' class="btn btn-primary btn-sm pull-right">Add Directions</button>
            <span asp-validation-for="RecipeDirections"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <h2>Section Header</h2>
        <div class="form-group">
            <label asp-for="RecipeOvenTemp">Oven Temprature</label>
            <input asp-for="RecipeOvenTemp" type="number" class="form-control" placeholder="350 &#8457;" />
            <span asp-validation-for="RecipeOvenTemp"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipeServings">Number of Servings</label>
            <input asp-for="RecipeServings" type="number" class="form-control" placeholder="4" />
            <span asp-validation-for="RecipeServings"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipePublic">Make Recipe Public</label>
            <select class="form-control">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <button class="btn btn-primary col-sm-12" onclick="dataTest()">Click Me</button>

    </div>
</div>

<script>
    let recipeStory,
        recipeDescription,
        ingNum = 2,
        dirNum = 2;


    ClassicEditor
        .create(document.querySelector('.editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote']
        })
        .then(newEditor => {
            recipeStory = newEditor;
        })

        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('.editor2'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote']
        })
        .then(newEditor => {
            recipeDescription = newEditor;
        })

        .catch(error => {
            console.error(error);
        });


    function dataTest() {
        //get the data from CK Editor
        const recipeStoryData = recipeStory.getData();
        const recipeDescriptionData = recipeDescription.getData();

        console.log(recipeStoryData)
        console.log(recipeDescriptionData)
    }

    $('#addIngredient').on('click', function () {
        $('#ingredientDisplay').append(
            '<input type="text" class="form-control ingredients" placeholder="Additional Ingredient ' + ingNum + '" aria-describedby="sizing-addon2" name="ingredient_' +
            ingNum + '" id="ingredient_' + ingNum + '"><br>')
        ingNum++
    })


</script>
