@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meal Planner</h2>

<p>We have many different recipes for you to include in your weekly meals. Allow us to provide better results by choosing what type of recipes you would like</p>
<div class="row">
	<div class="col-sm-6">
		<h3>Meal Type</h3>
		<button class="btn btn-default mealType" data-value="1">Breakfast</button>
		<button class="btn btn-default mealType" data-value="2">Lunch</button>
		<button class="btn btn-default mealType" data-value="3">Dinner</button>
		<button class="btn btn-default mealType" data-value="4">Dessert</button>
		<button class="btn btn-default mealType" data-value="5">Snack</button>
		@*<button class="btn btn-default mealType" data-value="4">Dessert</button>
		<button class="btn btn-default mealType" data-value="4">Dessert</button>
		<button class="btn btn-default mealType" data-value="4">Dessert</button>*@

		<h3>Difficulty</h3>
		<button class="btn btn-default difficulty" data-value="3">Easy Please</button>
		<button class="btn btn-default difficulty" data-value="6">Up to Medium Difficulty</button>
		<button class="btn btn-default difficulty" data-value="11">It doesn't matter</button>

		<h3>Cook Time</h3>
		<button class="btn btn-default cookTime" data-value="15">15 Minutes or less</button>
		<button class="btn btn-default cookTime" data-value="30">30 Minutes or less</button>
		<button class="btn btn-default cookTime" data-value="40">40 Minutes or less</button>
		<button class="btn btn-default cookTime" data-value="99999">It doesn't matter</button>
	</div>
	<div class="col-sm-6">
		<h3>Special Options</h3>
		<button class="btn btn-default specialOptions" data-value="1">Vegetarian</button>
		<button class="btn btn-default specialOptions" data-value="2">Vegan</button>
		<button class="btn btn-default specialOptions" data-value="3">Gluten Free</button>

	</div>
	<div class="col-sm-12">
		@if (SignInManager.IsSignedIn(User))
		{
			<h3>Recipe Source</h3>
			<button class="col-xs-5 btn btn-primary" onclick="myRecipes()">Use my recipes only</button>
			<div class="col-xs-2">@*Left Blank*@</div>
			<button class="col-xs-5 btn btn-primary" onclick="allRecipes()">Use all recipes</button>
		}
		else
		{
			<h3>Recipe Source</h3>
			<button class="col-xs-6 btn btn-primary" onclick="allRecipes()">Find Recipes</button>
		}
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<hr />

		<h2>Suggested <span id="mealtype"></span> Plans</h2>
		<h5>Difficulty: <span id="difficultyType"></span></h5>
		<h5><img width='15px' src='images/clock.png' alt='Total Prep and Cook Time' class='directions_image'> <span id="timeToCook"></span></h5>

		<table class="table">
			<thead>
				<tr>
					<td>Sunday</td>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
					<td>Saturday</td>
				</tr>
			</thead>
			<tbody id="mealList">
				<tr>
					<td id="mealDisplay_1" class="mealDisplay"></td>
					<td id="mealDisplay_2" class="mealDisplay"></td>
					<td id="mealDisplay_3" class="mealDisplay"></td>
					<td id="mealDisplay_4" class="mealDisplay"></td>
					<td id="mealDisplay_5" class="mealDisplay"></td>
					<td id="mealDisplay_6" class="mealDisplay"></td>
					<td id="mealDisplay_7" class="mealDisplay"></td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	let chosenRecipes = [],
		recipeChosenAlready,
		chosenNumber,
		savedRecipes,
		mealType,
		difficulty,
		cookTime;


	$('.mealType').on('click', function () {
		$('.mealType').removeClass('ActiveFilter')
		mealType = $(this).attr('data-value');
		mealTypeHtml = $(this).html();
		$(this).addClass("ActiveFilter")

	})
	$('.difficulty').on('click', function () {
		$('.difficulty').removeClass('ActiveFilter')
		difficulty = $(this).attr('data-value');
		difficultyHtml = $(this).html();
		$(this).addClass("ActiveFilter")
	})
	$('.cookTime').on('click', function () {
		$('.cookTime').removeClass('ActiveFilter')
		cookTime = $(this).attr('data-value');
		cookTimeHtml = $(this).html();
		$(this).addClass("ActiveFilter")
	})
	$('.specialOptions').on('click', function () {
		$('.specialOptions').removeClass('ActiveFilter')
		cookTime = $(this).attr('data-value');
		cookTimeHtml = $(this).html();
		$(this).addClass("ActiveFilter")
	})

	function myRecipes() {
		$('#mealtype').html(mealTypeHtml)
		$('#difficultyType').html(difficultyHtml)
		$('#timeToCook').html(cookTimeHtml)
		$.get("/api/Recipe/UserRecipes/@UserManager.GetUserId(User)/" + mealType + "/" + difficulty + "/" + cookTime, function (data) {
		console.log(data)
		buildDisplay(data)
	});

}

function allRecipes() {
	$('#mealtype').html(mealTypeHtml)
	$('#difficultyType').html(difficultyHtml)
	$('#timeToCook').html(cookTimeHtml)
	$.get("/api/Recipe/RandomRecipe/" + mealType + "/" + difficulty + "/" + cookTime, function (data) {
		console.log(data)
		buildDisplay(data)
	});
}

function buildDisplay(data) {
	//Clear list
	$('.mealDisplay').each(function (i, val) {
		$(val).html(' ');
	});

	var count = 1;
	data.forEach(function (recipe) {
		$("#mealDisplay_" + count).html("<h4>" + recipe.recipeName + "</h4> <img width='150px' src='" + recipe.imgUrl + "' alt='" + recipe.recipeName + "'><br><p><img width='15px' src='images/clock.png' alt='Total Prep and Cook Time' class='directions_image'> " + recipe.cookTime + " minutes<br><img width='15px' src='images/servings.png' alt='Servings' class='directions_image'> " + recipe.servings + " servings</p> <a href='/view/recipe/" + recipe.recipeId + "' target='_blank'>View Recipe</a>")
		count++
	})
}

</script>